.slider-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 1rem;
  }

  .slide-back-image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .slide-back-title {
    max-width: 200px;
    width: 100%;
    margin-top: 50px;
    font-size: 2rem;
    color: #5f5c5c;
    font-weight: bold;
    /* text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6); */
  }

  .slide-front-img {
    scale: 6;
    margin-top: 300px;
    object-fit: contain;
  }

  .slide-front-title {
    font-size: 4rem;
    color: white;
    font-weight: bold;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  }
  
  .slide-back {
    position: absolute; 
    top: 0;
    right: 20%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .slide-front {
    position: absolute; 
    bottom: 0;
    width: 100%;
    left: 0;
    height: 70vh;
    display: flex;
    align-items: center;
    padding-left: 20%;

  }

  .coming-soon {
    width: 526px;
    height: 200px;
    position: absolute;
    bottom: 45px;
    right: 100px;
  }

  .coming-soon-title {
    font-size: 7rem;
    color: #5f5c5c;
    font-weight: bold;

  }

  @media (max-width: 768px) {
    .slide-back-title {
      font-size: 1.5rem;
      margin-top: 30px;
      text-align: center;
    }
  
    
    .slide-back {
      right: 10%;
      justify-content: center;
    }
  
    .slide-front {
     display: none;
    }
  
    .slider-container {
      border-radius: 0.5rem;
    }
  }
  
  @media (max-width: 600px) {
    .slide-back  {
      scale: 0.7;
      flex-direction: column;
      right: -10%;
    }
    .slide-back-title {
      max-width: 500px;
    }
    .coming-soon {
      max-width: 100%;
      width: 100%;
      height: 200px;
      position: absolute;
      bottom: 45px;
      right: 0;
      padding-right: 30px;
      display: flex;
      /* align-items: flex-end; */
      justify-content: flex-end;
    }
  
    .coming-soon-title {
      font-size: 3.3rem;
      color: #5f5c5c;
      font-weight: bold;
  
    }
  }